/* .container {
  background: none;
} */
.sectionLight {
  background-color: #eceeef;
  padding: 2rem;
}

.sectionDark {
  background-color: #cccccc;
  padding: 2rem;
}
/* .img2 {
  height: 200px;
} */
.coolWrapper {
  margin: 20px;
}
button.coolWrapperBtn {
  background-color: red;
  color: #ffffff;
  display: block;
  margin: auto;
}
h5.modal-title {
  margin: auto;
}

.modalFormWrapper {
  padding: 2rem;
}

.img7 {
  height: 300px;
  display: block;
  margin: auto;
}
.btnCenter {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: red;
  border: 2px;
  color: #ffffff;
  width: 54%;
}

.size {
  width: 50%;
}
.footerImg {
  padding: 15px;
}

.footer {
  background-color: rgb(19, 18, 18);
}

.fa {
  margin: 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-google-plus-square {
  color: #c32f10;
}
.fa-instagram {
  color: #ffffff;
}
.socialWrapper {
  margin: auto;
}
